.navbar{
  display: flex;
  background: #2065a1;
  justify-content: space-around;
}

.navbar a{
  display: block;
  text-align: center;
  color: #ffffff;
  padding: 1em;
}

/* nav a {
    color:#666564;
} */

.current{
    font-weight: 900;
}

/* nav li {
    display: inline-block;
} */

#content li{
    position: relative;
    left: 35px;
    list-style-type: square;
}

.skip {
    position: relative;
    left: -2000px;
}

.skip:focus {
    position: relative;
    left: 0px;
    border: 2px solid black;
}

/* .container img{
  width:100%;
} */

/* .container{
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
} */

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.item{
  max-width: 225px;
}

figure{
  border: 2px solid;
  border-color: #666564;
  border-radius: 4px;
  margin: 5px;
}

figcaption{
  padding: 5px;
  text-align: center;
}

.proj-title{
  font-weight: bold;
}

/* phones */
@media only screen and (max-width: 600px){
  .navbar{
    flex-direction: column;
    flex-wrap: wrap;
  }

  .navbar a{
    text-align: center;
    padding: 8px;
    border: 1px solid;
    border-color: #e3e1e3;
  }

  .item{
    max-width: 100%;
  }
  .item img{
    align-self: center;
  }
}

footer{
  text-align: center;
  margin-top: 50px;
}

.social a{
  display: inline-block;
  margin: 5px;
  border: 1px solid #666564;
  color: #666564;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}

.social a i{
  line-height: 50px;
}

.fab{
  line-height: 50px;
  display: inline-block;
}
