nav a {
    color:#2a70ea;
}

.current{
    font-style: italic;
    color: #d10e0e;
}

nav li {
    display: inline-block;
}

#content li{
    position: relative;
    left: 35px;
    list-style-type: square;
}

.skip {
    position: relative;
    left: -2000px;
}

.skip:focus {
    position: relative;
    left: 0px;
    border: 2px solid black;
}

/* .container img{
  width:100%;
} */

/* .container{
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
} */

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.item{
  max-width: 225px;
}

figure{
  border: black solid;
}

figcaption{
  text-align: center;
}

.proj-title{
  font-weight: bold;
}
